
@model Stock

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="refresh" content="10">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Market</title>
</head>
<body>
    <form method="post">
        <div class="container">
            <br />
            <div class="align-top ">
                <button type="button" class="btn btn-dark"><a href="/Home/Orders">Next Page</a></button>
            </div>
            <br />
            <h1 class="align-content-center text-center"> <span class="badge font-weight-bold "> Market Screen </span> </h1>
            

            <table class="table table-bordered  table-light table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"> Stock Name</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var stock in ViewBag.stock)
                    {
                        <tr>
                            <td>@stock.Name</td>
                            <td>@stock.Price</td>

                        </tr>
                    }
                </tbody>

                @*<tbody>
                        @foreach (var pri in ViewBag.pri)
                         {
                            <tr>
                                <td>@pri</td>

                            </tr>
                         }
                    </tbody>*@

            </table>



        </div>
    </form>
</body>
</html>
