


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order</title>
</head>
<body>
    <div>
        <table>
            @foreach (var stock in ViewBag.stock)
            {
                <tr>
                    <td>@stock.Price</td>

                </tr>
            }
        </table>
    </div>
</body>
</html>
